main {
    display: none;
}
h1,h2 {
    text-align: center;
}
h1 {
    font-size: 3rem;
}
ul{
    list-style: none; 
    text-align: center;   
}
ul > li {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2rem;
    display: inline;
}
#images{
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons > button {
    margin: 0 10px;
    font-size: 2rem;
}
#nameSaveBox {
    text-align: center;
}
#nameSaveBox > * {
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0 10px;
}