h1,h2 {
    text-align: center;
}
h1 {
    font-size: 3rem;
}
ul{
    list-style: none; 
    text-align: center;   
}
ul > li {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2rem;
    display: inline;
}
#images{
    display: flex;
    align-items: center;
    justify-content: center;
}